<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denuncias</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body class="bg-tertiary h-screen">

<div th:replace="views/header :: contenido"></div>
<main class="pt-28 md:pl-60 px-6 min-h-screen bg-[#eaf2fe] transition-all duration-300">
<div class="licence-request-form bg-white flex flex-col rounded-lg shadow-lg p-8 w-full max-w-4xl mx-auto">
    <h1>Inicio de denuncias, escoja las opciones posibles para realizar el seguimiento a una denuncia. :)</h1>
</div>
</main>
</body>
</html>